{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="remla24-team02">
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <title>URL Phishing Detection</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
</head>
<body>
    <div class="app">
        <h1 id="app__header">URL Phishing Detection</h1>
        <div class="app__check">
            <label for="inputURL">To check url:</label>
            <input id="inputURL" type="text">
            <button class="submit-buttons" onclick="sendRequest()">Submit</button>
        </div>
        <div id="app__result" class="app__result"></div>
    </div>

    <script>window.CSRF_TOKEN = "{{ csrf_token }}";</script>
    <script type="application/javascript" src="{% static "js/script.js" %}"></script>
</body>
</html>
